<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kb141.mapper.CheckMapper">
	<insert id="create" parameterType="CheckVO">
		insert into tbl_check (sid,
		pno, emotion)
		values (#{sid}, #{pno}, #{emotion})
	</insert>


	<select id="checkList" resultType="CheckVO">
		select * from tbl_check order by checktime desc
	</select>
	
	<select id="checkMember" resultType="Integer">
		select count(*) from tbl_check where pno = #{pno} and checktime >= now()
	</select>
	
	<select id="lateMember" resultType="CheckVO">
		select * from tbl_check where checktime > #{latetime};
	</select>
	
</mapper>