<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kb141.mapper.ProgramMapper">

	<insert id="create">
		insert into tbl_program (pcourse, roomname, torder,
		opendate, closedate,
		maximum, persongroupid, category)
		values (#{pcourse}, #{roomname} ,
		#{torder}, #{opendate},#{closedate},#{maximum}, #{persongroupid}, #{category})
	</insert>

	<select id="read" resultType="ProgramVO">

		select * from tbl_program where
		pno=#{pno}

	</select>

	<update id="update" parameterType="ProgramVO">

		update tbl_program set
		pcourse = #{pcourse}, roomname = #{roomname}, torder=#{torder},
		opendate = #{opendate}, closedate =#{closedate},
		maximum=#{maximum}, persongroupid=#{persongroupid}, category=#{category}
		where pno=#{pno}

	</update>

	<delete id="delete">

		delete from tbl_program where pno = #{pno}

	</delete>

	<select id="allList" resultType="ProgramVO">

		select * from tbl_program 

	</select>
	
	<select id="categoryList" resultType="ProgramVO">
		select * from tbL_program where category = #{category}
	</select>
	
	<select id="joinTeacherSubjectList" resultType="JoinTeacherSubjectVO">
	
select tsno, subname, subgrade, tname from (select * from tbl_teacher_subject
where tsno in (select tsno from tbl_curriculum where pno = #{pno}) ) t, tbl_subject s, tbl_teacher a
where t.subno = s.subno and t.tid = a.tid order by subname asc, subgrade desc
	
	</select>
	
	


</mapper>