<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kb141.mapper.ProgramMapper">

	<insert id="create">
		insert into tbl_program (pcourse, roomname, torder,
		opendate, closedate,
		maximum)
		values (#{pcourse}, #{roomname} ,
		#{torder}, #{opendate},#{closedate},#{maximum})
	</insert>

	<select id="read" resultType="ProgramVO">

		select * from tbl_program where
		pno=#{pno}

	</select>

	<update id="update" parameterType="ProgramVO">

		update tbl_program set pcourse
		= #{pcourse}, roomname = #{roomname}, torder=#{torder}, opendate =
		#{opendate}, closedate =#{closedate}, maximum=#{maximum} where
		pno=#{pno}

	</update>

	<delete id="delete">

		delete from tbl_program where pno = #{pno}

	</delete>

	<select id="allList" resultType="ProgramVO">

		select * from tbl_program 

	</select>


</mapper>