<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kb141.mapper.TakeProgramMapper">


	<insert id="create" parameterType="TakeProgramVO">
		insert into tbl_take_program (sid , pno) values (#{sid} , #{pno})
	</insert>

	<select id="read" parameterType="String" resultType="TakeProgramVO">
		select * from tbl_take_program where sid = #{sid}  order by tregdate
	</select>

	<update id="update" parameterType="TakeProgramVO">
		update tbl_take_program set pno = #{pno}, state = #{state}, personid = #{personid} , tregdate = current_timestamp where sid = #{sid}
	</update>

	<delete id="delete" parameterType="String">
		delete from tbl_take_program where sid = #{sid}
	</delete>

	<select id="allList" resultType="TakeProgramVO">
		select * from tbl_take_program order by tregdate
	</select>

	<select id="list" parameterType="Integer" resultType="TakeProgramVO">
		select * from tbl_take_program where pno = #{pno} order by tregdate
	</select>
	
	
	
	<update id="admission">
		update tbl_take_program set state = true  where sid = #{sid}
	</update>
	
	<select id="stateCount" resultType="Integer">
	
	select count(*) from tbl_take_program where pno = #{pno} and state = true
		
	</select>
	
	
	<select id="stateList" resultType="TakeProgramVO">
	select * from tbl_take_program where pno = #{pno} and state = #{state}
	</select>
	
	
	
	<update id="updatePersonId" parameterType="TakeProgramVO">
		update tbl_take_program set personid = #{personid} where sid = #{sid}
	</update>
	
	
</mapper>

