<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kb141.mapper.TeacherSubjectMapper">
	
	<insert id="create" parameterType="TeacherSubjectVO">
			insert into tbl_teacher_subject(tid, subno) values (#{tid}, #{subno})
	</insert>

	<select id="read" resultType="TeacherSubjectVO">
		select * from tbl_teacher_subject where tsno = #{tsno}
	</select>

	<update id="update" parameterType="TeacherSubjectVO">
		update tbl_teacher_subject set tid = #{tid}, subno = #{subno} where tsno = #{tsno} 
	</update>

	<delete id="delete">
		delete from tbl_teacher_subject where tsno = #{tsno}
	</delete>
	
	<select id="allList" resultType="TeacherSubjectVO">
		select * from tbl_teacher_subject
	</select>

	<select id="joinAllTeacherSubjectList" resultType="JoinTeacherSubjectVO">
		select p.tsno, p.subname, p.subgrade, t.tname from tbl_teacher t,(
		select s.subname, s.subgrade, ts.tid, ts.tsno from tbl_subject s, (
		select subno, tid, tsno from tbl_teacher_subject)ts where ts.subno = s.subno) p
		where t.tid = p.tid
	</select>

	<select id="joinGetTeacherSubject" resultType="JoinTeacherSubjectVO">
		select p.subname, p.subgrade, t.tname, tsno from tbl_teacher t,(
		select s.subname, s.subgrade, ts.tid, tsno from tbl_subject s, (
		select subno, tid, tsno from tbl_teacher_subject where tsno in (
		select tsno from tbl_curriculum where pno = #{pno}))ts where ts.subno = s.subno) p
		where t.tid = p.tid	
	</select>


</mapper>